<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <standardEndpoints />
    <behaviors>
      <!--<endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
        </behavior>
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="SenLan2Entities" connectionString="metadata=res://*/DBDataModel.csdl|res://*/DBDataModel.ssdl|res://*/DBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.67.133;Initial Catalog=chinacopper_v2;User ID=sa;Password=shtxsql;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SenLanMarketPriceEntities" connectionString="metadata=res://*/PriceDBModel.csdl|res://*/PriceDBModel.ssdl|res://*/PriceDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=180.168.184.195;initial catalog=SenLanMarketPrice;persist security info=True;user id=sa;password=shyrsql2008$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
