<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SenLan2Entities" connectionString="metadata=res://*/DBDataModel.csdl|res://*/DBDataModel.ssdl|res://*/DBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.67.133;initial catalog=chinacopper_v2;persist security info=True;user id=sa;password=shtxsql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>